* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height - offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height - offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#fullpage {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
}

div#slide1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
}

.logo {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    width: 80%;
    margin-bottom: 20px;
}

h2.txt-desc {
    text-align: center;
    color: #fff;
    max-width: 500px;
    margin: 0 auto 15px;
    padding: 0 10px;
}

h3.txt-loader {
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
}

.loader {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    animation: rotate ease-in-out infinite 1s;
    background: #fff;
    border-radius: 100px;
    position: relative;
}

.loader-ponto {
    width: 10px;
    height: 5px;
    border-radius: 100px;
    background: #000;
    margin: 0 auto;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

div#divBotaoContinuar {
    text-align: center;
}

button#btnContinuar {
    border: 1px solid #ba1919;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 25px;
    color: #fff;
    background: #ef3434;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0 15px;
}

button#btnContinuar:focus {
    outline-width: 0;
}

div#carregando {
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
}

div#naocarregou {
    position: fixed;
    top: 100%;
}